:root {
    /* Colors */
    --palette1: #134074;
    --palette2: #13315C;
    --palette3: #0B2545;
    --palette4: #8DA9C4;
    --palette5: #EEF4ED;

    --information: #0084f4;
    /* --primary: #5215FC; */
    /* --secondary: #7070DD; */
    /* --purple: #FF00FF; */
    --light-blue: #F2F2FF;
    --complementary: #744713;

    --action: #5050FF;
    --in-progress: #FFE172;

    --border-rgba-color: rgba(112, 112, 221, .2);
    --shadow-rbga-color: rgba(49, 8, 123, .3);

    --backdrop: rgba(56, 56, 56, 0.56);

    --primary-text: #111111;
    --secondary-text: #EBE3FF;
    --complementary-text: #5c5c3a;
    --inactive-text: #a5a3aa;
    --placeholder-text: #8888AD;

    --input-field: #E6E3DD;
    --input-field-focus: #fff;

    --input-popup-border-color: #B0B0B2;

    --background-color: #F9F9FB;
    --default-box-shadow-color: #dddde055;  
 /* Custom Tab Content Color 
.btn {
    color: white;
    background-color: #E6E168;
    margin: 5px;
}*/


    /* Custom Tab Content Color */
    --custom-tab-bg: white;

    /* Table Color */
    --table-header-text: #797979;
    --table-header-bg: white;
    --table-shadow: var(--default-box-shadow-color);

    /* Border radius */
    --default-border-radius: .25rem;
}

.main-content {
    flex: 1;
    margin: 1rem 20px;
    padding: 10px 20px;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px 2px var(--default-box-shadow-color);
    overflow: hidden;
}

.page-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    font: color #3a3a3a;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* || Containers */
.wrapper {
    display: flex;
    justify-content: flex-start;
    flex: 2;
    transition: all .3s ease-out;
}

.body-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
.white-section {
    background-color: white;
}

/* || Input */
.input-container {
    display: flex;
    align-items: stretch;
    width: 100%;
    border-radius: var(--default-border-radius);
}

.input-container .input-prepend, .input-container input, .input-container .input-append {
    display: flex;
    align-items: center;
    border: 1px solid var(--border-rgba-color);
    background-color: #F2F2FF !important;
}

.input-container .input-prepend .icon, .input-container input, .input-container .input-append  .icon {
    padding: .375rem .75rem;
}

.input-container .input-prepend {
    border-top-left-radius: var(--default-border-radius);
    border-bottom-left-radius: var(--default-border-radius);
    border-right: none;
    color: var(--palette4);
}

.input-container:has(.input-prepend) input {
    padding-left: 0;
}

.input-container input {
    width: 100%;
    border-top-right-radius: var(--default-border-radius);
    border-bottom-right-radius: var(--default-border-radius);
    border-left: none;
    font-size: .8rem;
    font-weight: 200;
    color: var(--primary-text);
}

.input-container .input-append {
    border-top-right-radius: var(--default-border-radius);
    border-bottom-right-radius: var(--default-border-radius);
    border-left: none;
    color: var(--palette4);
}

.input {
    padding: var(--input-padding);
}

.option-box {
    display: inline-block;
    flex-grow: 1;
    background-color: #E7E9EC;
    min-width: 55px;
    text-align: center;
    padding: var(--input-padding);
    cursor: pointer;
    margin: 0;
}

.option-box:hover {
    background-color: #b1c1e0;
    color: white;
}

.option-box input {
    display: none;
}

.option-box:has(input:checked) {
    background-color: var(--action);
    color: white;
}

/* Search Input */
.search-form {
    flex-grow: 1;
}
  
.search-form .input-container .input-append {
    cursor: pointer;
}

.search-container{
    margin-left: 1000px;
}


/* || Table */
.mesa-container {
    width: 100%;
    overflow: auto;
    border-radius: var(--default-border-radius) !important;
    background-color: white;
    background-clip: border-box;
}

.mesa-container .mesa .mesa-head {
    white-space: nowrap;
}

.mesa-container .mesa th:last-child, .mesa-container .mesa td:last-child {
    text-align: right;
}

.mesa {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-style: hidden; /* hide standard table (collapsed) border */
    border-radius: var(--default-border-radius) !important;
}

.mesa th, .mesa td {
    padding: 0.75rem;
    border-width: 1px 0;
    border-style: solid;
    border-color: var(--palette5);
    vertical-align: top;
}

.mesa tbody tr:hover, tbody tr.active {
    cursor: pointer;
    background-color: var(--palette5);
}

.mesa-head {
    border-top-left-radius: var(--default-border-radius) !important;
    border-top-right-radius: var(--default-border-radius) !important;
    background-color: var(--table-header-bg);
    color: var(--table-header-text);
    font-size: .75rem;
}

.mesa .mesa-head .tname {
    color: var(--action);
    font-weight: 400;
}

/* || Content */

.content {
    flex: 2;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    transition: all 0.3s;
    width: 100%;
    overflow: auto;
    position: relative;
}

.content .page-header {
    display: grifle;
    grid-template-columns: 1fr auto;
    margin: 24px 20px;
    gap: 20px;
}
  
.page-header .page-title {
    font-size: 22px;
}
  
.page-header small {
    font-size: 14px;
}
  
.content .nav-tab-container:has(.nav-tab) { 
    padding: 0 20px;
}
  
.content .nav-tab-container {
    padding: 5px 20px;
    border-bottom: 1px solid var(--border-rgba-color);
}
  
.content .nav-tab-container .search-container {
    max-width: 250px;
}
  
.content > .mesa-container {
    flex: 2;
    margin: 20px;
    width: auto;
    padding: 20px;
    box-shadow: 0 0 10px 1px var(--table-shadow);
}
  
.content .nav-tab-container ~ hr {
    margin-top: -1px;
}

.content .nav{
    padding-left: 10px;
}
  
/* || Navigation */
.nav-tab-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 120;
    background-color: var(--background-color);
    color: var(--navtab-text-color);
}

/* Button */
.btn-primary{
    margin-left: 1000px;
}

/* Page Footer */
.page-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: stretch;
    gap: .75rem;
    padding: 20px;
    border-top: 1px solid var(--border-rgba-color);
}

.page-footer .btn {
    min-width: 100px;
}

.bg-chuchu {
    background-color: #E6E168BD;
}

.bg-list{
    background-color: #B4C3EB;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    border-radius: 50%;
  }